<h1>Les travaux de Caterina</h1>

<ul>
  <% @items.each do |item| %>
    <li><%= item.title %></li>
    <li><%= item.description %></li>
    <li><%= item.price %></li>
    <li><%=image_tag item.photo.key %></li>
  <% end %>
</ul>


